<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--  Copyright © 2015      Pavel Solovyev (solovyev.p.a@gmail.com)            -->
<!--                        Sergey Sevryukov (sevrukovs@gmail.com)             -->
<!--                        Alexander Afonin (acer737@yandex.ru)               -->
<!--                                                                           -->
<!--  Licensed under the Apache License, Version 2.0 (the "License");          -->
<!--  you may not use this file except in compliance with the License.         -->
<!--  You may obtain a copy of the License at                                  -->
<!--              http://www.apache.org/licenses/LICENSE-2.0                   -->
<!--                                                                           -->
<!--  Unless required by applicable law or agreed to in writing, software      -->
<!--  distributed under the License is distributed on an "AS IS" BASIS,        -->
<!--  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!--  See the License for the specific language governing permissions and      -->
<!--  limitations under the License.                                           -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		<title>{{ caption }}</title>
		<style type="text/css">
			.infobox{
				width: 80%;
				background: #e9c9c9;
				border: solid 2px #a00000;
				color: #d00000;
				padding-top: 10px;
				padding-bottom: 10px;
				font-weight: bold;
				font-size: 28px;
				margin-top: 15px;
				margin-bottom: 15px;
				min-height: 128px;
			}
			.tip{
				color: #900000;
				font-size: 18px;
				padding-top: 5px;
				padding-bottom: 5px;
			}
		</style>
	</head>

	<body style="width:100%; position:absolute; top:-8px; left:-8px;">

		{% use 'OGISIndexBundle:Default:header.html.twig' %}
		{% block header %}
			{{ parent() }}
		{% endblock %}

		{% block bodycontent %}

			<center>
				<table class="infobox">
					<tr>
						<td width="96px" {% if tip != "" %}rowspan="2"{% endif %} valign="middle">
							<center>
								<img src="{{ asset('./img/stop.png') }}"/>
							</center>
						</td>
						<td>
							<center>{{ message }}</center>
						</td>
						<td width="96px" {% if tip != "" %}rowspan="2"{% endif %} valign="middle">
							<center>
								<img src="{{ asset('./img/stop.png') }}"/>
							</center>
						</td>
					</tr>
				{% if tip != "" %}
					<tr>
						<td class="tip">
							<center>
								{{ tip|raw }}
							</center>
						</td>
					</tr>
				{% endif %}
				</table>
			</center>
		{% endblock %}

		{% block footer %}
			{{ parent() }}
		{% endblock %}
	</body>
</html>
