<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--  Copyright © 2015      Pavel Solovyev (solovyev.p.a@gmail.com)            -->
<!--                        Sergey Sevryukov (sevrukovs@gmail.com)             -->
<!--                        Alexander Afonin (acer737@yandex.ru)               -->
<!--                                                                           -->
<!--  Licensed under the Apache License, Version 2.0 (the "License");          -->
<!--  you may not use this file except in compliance with the License.         -->
<!--  You may obtain a copy of the License at                                  -->
<!--              http://www.apache.org/licenses/LICENSE-2.0                   -->
<!--                                                                           -->
<!--  Unless required by applicable law or agreed to in writing, software      -->
<!--  distributed under the License is distributed on an "AS IS" BASIS,        -->
<!--  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!--  See the License for the specific language governing permissions and      -->
<!--  limitations under the License.                                           -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <title>Creating layer :: project O-GIS</title>
        <link rel="stylesheet" href="{{ asset('./css/ogis_styles.css') }}" />
        <link rel="stylesheet" href="{{ asset('./css/jstree-types.css') }}" />
        <link rel="stylesheet" href="{{ asset('./js/jquery/themes/default/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('./js/jquery-ui/jquery-ui.css') }}" />
        <script type="text/javascript" src="{{ asset('./js/jquery/jquery-2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('./js/jquery/jstree.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('./js/jquery-ui/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('./js/addtofavorites.js') }}"></script>
        <script type="text/javascript" src="{{ asset('./js/jszip.js') }}"></script>
        <script type="text/javascript" src="{{ asset('./js/jszip-utils.js') }}"></script>

        <script type="text/javascript">
            var catalogData = "{{ path('loadcatalogdata', {'catid': 'PATH' }) }}";
            var rootFavNodes = "{{ path('loadusercatalogs', {'holderid': app.user.id}) }}";    
            
            function validateInput(){
                // check layer title
                var title = $('#layername').val();
                title = title.replace(/^[\s\r\n]+|[\s\r\n]+$/gm,'');
                if (title.length < 1 || title[0] === ''){
                    var html = '<table><tr><td width="64px"><img src="/o-gis/web/img/error.png"/></td><td valign="middle">You should enter a meaningful name for your layer!</td></tr></table>';
                    $('#errormessagewindow').empty();
                    $('#errormessagewindow').append(html);
                    $('#errormessagewindow').dialog('open');
                    return false;
                }
                // check selected node
                var node = $('#selectednodeid').text();
                if (node === '' || node === null || node === undefined){
                    var html = '<table><tr><td width="64px"><img src="/o-gis/web/img/error.png"/></td><td valign="middle">You should choose a catalog to place a link to your layer into!</td></tr></table>';
                    $('#errormessagewindow').empty();
                    $('#errormessagewindow').append(html);
                    $('#errormessagewindow').dialog('open');
                    return false;
                }
                else{
                    $('#targetnode').prop('value', node);
                }
                // check archive with files
                var file = document.getElementById("layerfile").files[0];
                if (!file || !file.name.toLowerCase().match(/\.zip$/g)){
                    var html = '<table><tr><td width="64px"><img src="/o-gis/web/img/error.png"/></td><td valign="middle">Please, choose a *.zip archive with layer\'s files!</td></tr></table>';
                    $('#errormessagewindow').empty();
                    $('#errormessagewindow').append(html);
                    $('#errormessagewindow').dialog('open');
                    return false;
                }
                else{
                    // check that the archive indeed contains all the required layer files
                    var fileReader = new FileReader();
                    var wimg_files = 0;
                    var esri_files = 0;
                    var counter = 0;
                    
                    fileReader.onload = (function(fileLoadedEvent){
                        return function(e){
                            var zip = new JSZip(e.target.result);
                            for (var fileInZip in zip.files){
                                counter++;
                                var file = zip.files[fileInZip];
                                // WorldImage Tiff
                                if (file.name.toLowerCase().match(/\.tfw$/g)){ wimg_files++; }
                                if (file.name.toLowerCase().match(/\.tif$/g)){ wimg_files++; }
                                if (file.name.toLowerCase().match(/\.prj$/g)){ wimg_files++; }
                                // ESRI ShapeFile
                                if (file.name.toLowerCase().match(/\.dbf$/g)){ esri_files++; }
                                if (file.name.toLowerCase().match(/\.prj$/g)){ esri_files++; }
                                if (file.name.toLowerCase().match(/\.shp$/g)){ esri_files++; }
                                if (file.name.toLowerCase().match(/\.shx$/g)){ esri_files++; }
                            }
                            // validate archive contents
                            if (counter === wimg_files){
                                if (counter === 1){ document.getElementById("layertype").value = "geotiff"; }
                                else { document.getElementById("layertype").value = "worldimage"; }
                                document.getElementById("layerform").submit();
                                return;
                            }
                            if (counter === 4 && esri_files === 4){
                                document.getElementById("layertype").value = "shp";
                                document.getElementById("layerform").submit();
                                return;
                            }
                            var html = '<table><tr><td width="64px"><img src="/o-gis/web/img/error.png"/></td><td valign="middle">Please check the files in the archive!\r\n* There may be missing or extra files\r\n* Or the layer is in an unsupported format</td></tr></table>';
                            $('#errormessagewindow').empty();
                            $('#errormessagewindow').append(html);
                            $('#errormessagewindow').dialog('open');
                        };
                    })(file);
                    fileReader.readAsArrayBuffer(file);
                }
            }
        </script>
    </head>
    <body class="bodyfullpage" onload="showTargetCatalogTree();">

        {% use 'OGISIndexBundle:Default:header.html.twig' %}
        {% block header %}
                {{ parent() }}
        {% endblock %}

        {% block pagecontent %}

            <div class="contentbody">
                <div class="paraminputbox">
                    <div class="userlistheader">A Layer to Upload</div>
                    <table width="100%">
                        <form action="{{ path('layer_upload') }}" method="post" id="layerform" enctype="multipart/form-data">
                            <tr>
                                <td width="155px"><label for="layername"><b>Layer's Title</b>:</label>&nbsp;</td>
                                <td style="text-align:right">
                                    <input type="text" style="width:300px" id="layername" name="_layername" maxlength="256" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td><label for="description"><b>Layer's Description</b>:</label>&nbsp;</td>
                                <td style="text-align:right">
                                    <textarea style="width:300px;resize:none;" rows="5" form="layerform" name="_layerdescription" maxlength="1024"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Target Catalog</b>:&nbsp;</td>
                                <td>
                                    <input type="hidden" name="_targetcatalog" id="targetnode" value=""/>
                                    <div style="display:none" id="selectednodeid"></div>
                                    <div class="catalogtreediv" id="targettree"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="layerfile"><b>Archive with Files</b>:</label>&nbsp;</td>
                                <td style="padding-left:29px">
                                    <input type="file" style="width:300px" id="layerfile" name="_layerfile" value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <br/>
                                    <input type="hidden" id="layertype" name="_layertype" value=""/>
                                    <input type="button" onclick="validateInput();" id="uploadbutton" style="width:155px" value="Загрузить слой"/>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>

                <div class="helpboxmain">
                    <div class="userlistheader">Rules and Information:</div>
                    <div>
                        <ol>
                            <li>Field "Layer's Title" must be filled. First character can't be whitespace</li>
                            <li>Field "Layer's Description" can be left empty.</li>
                            <li>You must choose a catalog into which a link to your layer will be placed. Later, it can be copied or moved to any other catalog.</li>
                            <li>All necessary files of the layer must be placed in the root of an unprotected *.zip archive. No other files can be in there.</li>
                            <li>The following layer formats are supported:
                                <ol>
                                    <li>GeoTiff (*.tif file)</li>
                                    <li>WorldImage Tiff (*.tfw и *.tif files)</li>
                                    <li>ESRI Shapefile (*.dbf, *.prj, *.shp и *.shx files)</li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
                            
            <div id="errormessagewindow" title="Error"></div>
            <script type="text/javascript">
                $( "#errormessagewindow" ).dialog({
                        autoOpen: false,
                        resizable: false,
                        zIndex: 9999,
                        height: 'auto',
                        width: 400,
                        modal: true,
                        buttons: { OK : function(){ $(this).dialog("close"); }
                    }});
            </script>
        {% endblock %}

        {% block footer %}
                {{ parent() }}
        {% endblock %}
    </body>
</html>
