<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--  Copyright © 2015      Pavel Solovyev (solovyev.p.a@gmail.com)            -->
<!--                        Sergey Sevryukov (sevrukovs@gmail.com)             -->
<!--                        Alexander Afonin (acer737@yandex.ru)               -->
<!--                                                                           -->
<!--  Licensed under the Apache License, Version 2.0 (the "License");          -->
<!--  you may not use this file except in compliance with the License.         -->
<!--  You may obtain a copy of the License at                                  -->
<!--              http://www.apache.org/licenses/LICENSE-2.0                   -->
<!--                                                                           -->
<!--  Unless required by applicable law or agreed to in writing, software      -->
<!--  distributed under the License is distributed on an "AS IS" BASIS,        -->
<!--  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!--  See the License for the specific language governing permissions and      -->
<!--  limitations under the License.                                           -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		<title>Layer list</title>
		<link rel="stylesheet" href="{{ asset('./css/editor_list.css') }}" />
		<link rel="stylesheet" href="{{ asset('./js/jquery/themes/default/style.css') }}" />
		<script type="text/javascript" src="{{ asset('./js/jquery/jquery-2.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('./js/jquery/jstree.min.js') }}"></script>

		<style>
			a { color: #4040af; }
		</style>

		<script type="text/javascript">
        var rootNodes = "{{ path('loaduserandglobalcatalogs') }}";
        var catalogData = "{{ path('loadcatalogdataeditor', {'catid': 'PATH'}) }}";
                    
        function loadCatalogContents(node){
            if (node.loaded !== undefined){ return; }
            if (!node.type.match(/^catalog/g)){
                if (node.type === 'composition'){
                    parent.editor.AddLayers.addThisComposition(node.text, node.data );
                }
                else {
                    parent.editor.AddLayers.addThisLayer(node.text, node.data);
                }
                return;
            }

            node.loaded = true;
            var url = catalogData.replace('PATH', node.id);
            $.ajax(url)
                .done(function(msg){
                    var tree = $('#foldertree').jstree(true);
                    for (var i = 0; i < msg.catalogs.length; i++){
                        var newNode = msg.catalogs[i];
                        tree.create_node(newNode.parent, newNode);
                    }
                    for (var i = 0; i < msg.links.length; i++){
                        var newNode = msg.links[i];
                        tree.create_node(newNode.parent, newNode);
                    }
                    tree.open_node(node.id);
                })
                .fail(function(){
                    console.log("Error while acquiring data!");
                    delete node.loaded;
                });
        }
                    
			function loadUserCatalogs(){
          $.ajax(rootNodes)
              .done(function(msg){
                  $('#foldertree').jstree({
                      'core' : {
                          'multiple' : false,
                          'data' : msg.catalogs,
                          'check_callback': true
                      },
                      'types':{
                          "catalog": {icon: "./img/icons/catalog.png"},
                          "layer": {icon: "./img/icons/layer.png"},
                          "raster": {icon: "./img/icons/raster.png"},
                          "line": {icon: "./img/icons/line.png"},
                          "point": {icon: "./img/icons/point.png"},
                          "polygon": {icon: "./img/icons/polygon.png"},
                          "composition": {icon: "./img/icons/composition.png"},
                          "style": {icon: "./img/icons/style.png"},
                          "external": {icon: "./img/icons/external.png"}
                      },
                      'plugins': [ "sort", "types", "contextmenu" ],
                      'sort': function (a, b) {
                          var nodeA = this.get_node(a);
                          var nodeB = this.get_node(b);
                          if (nodeA.type.match(/^catalog/g) && !nodeB.type.match(/^catalog/g)){ return -1; }
                          if (!nodeA.type.match(/^catalog/g) && nodeB.type.match(/^catalog/g)){ return 1; }
                          return this.get_text(a) > this.get_text(b) ? 1 : -1;
                      },
                  }).on('select_node.jstree', function(e, data){
                      loadCatalogContents(data.node);
                  });
              })
              .fail(function(){
                  $('#foldertree').append('<div class="loaderrormsg"><b>Error while loading data!</b></div>');
              });
          }
		</script>

	</head>

	<body onload="loadUserCatalogs();">
		{% block bodycontent %}

			<div  id="foldertree"></div>

		{% endblock %}
	</body>
</html>
