<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<!--  Copyright © 2015      Pavel Solovyev (solovyev.p.a@gmail.com)            -->
<!--                        Sergey Sevryukov (sevrukovs@gmail.com)             -->
<!--                        Alexander Afonin (acer737@yandex.ru)               -->
<!--                                                                           -->
<!--  Licensed under the Apache License, Version 2.0 (the "License");          -->
<!--  you may not use this file except in compliance with the License.         -->
<!--  You may obtain a copy of the License at                                  -->
<!--              http://www.apache.org/licenses/LICENSE-2.0                   -->
<!--                                                                           -->
<!--  Unless required by applicable law or agreed to in writing, software      -->
<!--  distributed under the License is distributed on an "AS IS" BASIS,        -->
<!--  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!--  See the License for the specific language governing permissions and      -->
<!--  limitations under the License.                                           -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('./css/ogis_styles.css') }}" />
        <link rel="stylesheet" href="{{ asset('./css/jstree-types.css') }}" />
        <link rel="stylesheet" href="{{ asset('./js/jquery/themes/default/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('./js/jquery-ui/jquery-ui.css') }}" />
        <script type="text/javascript" src="{{ asset('./js/jquery/jquery-2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('./js/jquery/jstree.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('./js/jquery-ui/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('./js/addtofavorites.js') }}"></script>
        <style>
            .ui-dialog{ z-index: 9999 !important; }
            .ui-front{ z-index: 9998 !important; }
        </style>
        <title>{{ layer.name }} :: layer O-GIS</title>
        {% if viewable %}
            <script type="text/javascript" src="{{ asset('./js/OpenLayers.light.js') }}"></script>
        {% endif %}

        <script type="text/javascript">

            {% if app.user != null %}
                var rootFavNodes = "{{ path('loadusercatalogs', {'holderid': app.user.id}) }}";
                var catalogData = "{{ path('loadcatalogdata', {'catid': 'PATH' }) }}";
                var addToFavRoute = "{{ path('addtofavorites') }}";
            {% endif %}

            function showInfoWindow(){
                $( "#infowindow" ).dialog("open");
            }

            function addToFavorites(){
                var id = {{ layer.id }};
                showTargetCatalogTree(id, 'layer');
            }

            function openInEditor(){
                window.location.href = "{{ path('geoexpl', {'datasource': 'layer', 'id': layer.id}) }}";
            }

            function redirectToLayerEdit(){
                window.location.href = "{{ path('edit_layer_properties', {'id': layer.id}) }}";
            }

            function redirectToDeleteConfirm(){
                window.location.href = "{{ path('deletelayerconfirm', {'id': layer.id}) }}";
            }

            function downloadLayerArchive(){
                $.ajax({
                    type: 'POST',
                    url: "{{ path('layerdlcounter', {id: layer.id}) }}",
                    data: null,
                    success: function(response){ }
                    });
                document.getElementById('dls').innerHTML = parseInt(document.getElementById('dls').innerHTML) + 1;
                window.open("{{ asset('./uploads/layers/' ~ layer.conString ~ '/' ~ layer.conString ~ '.zip') }}");
            }
        </script>
    </head>
    <body class="bodyfullpage">

        {% use 'OGISIndexBundle:Default:header.html.twig' %}
        {% block header %}
            {{ parent() }}
        {% endblock %}

        {% block pagecontent %}
            <div class="contentbody">
                <div class="entitytitleblock">
                    <span class="entitytitle">{{ layer.name }}</span><br/>
                    Author: <a href="{{ path('showuser', {'id': layer.author.id}) }}">{{ layer.author.displayname }}</a>
                </div>
                <div class="entityinterractionblock">
                    <div class="entitylinkbox objectlink" onclick="showInfoWindow()">
                        Information
                    </div>
                    <div class="entitylinkbox objectlink" onclick="openInEditor()">
                        Open in editor
                    </div>
                    {% if app.user != null %}
                        <div class="entitylinkboxsmall objectlink" onclick="addToFavorites()">
                            Add to favorites
                        </div>
                        {% if app.user.id == layer.author.id or is_granted('ROLE_ADMIN') == true or is_granted('EDIT', layer) == true %}
                            <div class="entitylinkboxsmall objectlink" onclick="redirectToLayerEdit()">
                                Edit
                            </div>
                            <div class="entitylinkboxsmall objectlink" onclick="redirectToDeleteConfirm()">
                                Delete
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if viewable and layer.workspace == 'OGIS' %}
                        {% set size = layer.size %}
                        {% if size < 1024 %}
                            {% set formattedSize = size ~ " байт" %}
                        {% elseif size < 1048576 %}
                                {% set formattedSize = (size / 1024)|number_format(2, '.')~ " Кб" %}
                        {% else %}
                                {% set formattedSize = (size / 1048576)|number_format(2, '.')~ " Мб" %}
                        {% endif %}
                        <div class="layerdllinkbox objectlink" onclick="downloadLayerArchive()">
                                Download ({{ formattedSize }})
                        </div>
                    {% endif %}
                </div>

                <div class="layerpreviewbox">
                    {% if viewable %}
                        <div class="layerpreviewboxinner" id="map_container"></div>
                        <script type="text/javascript">
                            var proj = "{{ layer.projection }}";
                            var map = new OpenLayers.Map("map_container", { projection: new OpenLayers.Projection(proj) });
                            map.addControl(new OpenLayers.Control.Navigation());
                            map.maxExtent = new OpenLayers.Bounds({{ layer.boundingBoxMinX }}, {{ layer.boundingBoxMinY }}, {{ layer.boundingBoxMaxX }}, {{ layer.boundingBoxMaxY }});
                            var target =  new OpenLayers.Layer.WMS(
                                "{{ layer.name }}",
                                "/o-gis/web/app.php/wms", {
                                    LAYERS: '{{ layer.workspace }}:{{ layer.conString }}',
                                    STYLES: '',
                                    format: 'image/png',
                                    transparent:true
                                }, {
                                    singleTile: false,
                                    ratio: 1, 
                                    isBaseLayer: true,
                                    yx : {'{{ layer.projection() }}' : false}
                                });
                            map.addLayers([target]);
                            map.zoomToMaxExtent();
                        </script>
                    {% else %}
                        <table class="infobox_error">
                            <tr>
                                <td width="96px" valign="middle">
                                    <center>
                                        <img src="{{ asset('./img/stop.png') }}"/>
                                    </center>
                                </td>
                                <td>
                                    <center>You don't have the permission necessary to view this layer!</center>
                                </td>
                                <td width="96px" valign="middle">
                                    <center>
                                        <img src="{{ asset('./img/stop.png') }}"/>
                                    </center>
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
            </div>

            <div id="infowindow" title="Information about layer ''{{ layer.name }}''">
                <div id="accordion">
                    <h3>Basic information</h3>
                    <div style="height:270px">
                        <table style="width:100%">
                            <tr>
                                <td width="200px"><b>Author</b>:&nbsp;</td>
                                <td><a href="{{ path('showuser', {id: layer.author.id}) }}">{{ layer.author.displayname }}</a></td>
                            </tr>
                            <tr>
                                <td><b>Viewed</b>:&nbsp;</td>
                                <td>{{ layer.views }} times</td>
                            </tr>
                            <tr>
                                <td><b>Downloaded</b>:&nbsp;</td>
                                <td id="dls">{{ layer.downloads }} times</td>
                            </tr>
                            <tr>
                                <td><b>Created</b>:&nbsp;</td>
                                <td>{{ layer.created|date('d.m.Y') }}</td>
                            </tr>
                            <tr>
                                <td><b>Modified</b>:&nbsp;</td>
                                <td>{{ layer.modified|date('d.m.Y') }}</td>
                            </tr>
                            <tr>
                                <td valign="top"><b>Description</b>:&nbsp;</td>
                                <td>"<i>{{ layer.description }}</i>"</td>
                            </tr>
                        </table>
                    </div>
                    <h3>Advanced Information</h3>
                    <div style="height:270px">
                        <table style="width:100%">
                            <tr>
                                <td width="200px"><b>Layer type</b>:&nbsp;</td>
                                <td valign="top">
                                    {% if layer.type == "raster" %}
                                        Raster layer ( {{ layer.format }} )
                                    {% else %}
                                        Vector layer ( {{ layer.format }} )
                                    {% endif %}
                                </td>
                            </tr>
                            {% if layer.type == "raster" %}
                                <tr>
                                    <td><b>Values' type</b>:&nbsp;</td>
                                    <td>{{ layer.datatype }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td><b>Projection</b>:&nbsp;</td>
                                <td>{{ layer.projection }}</td>
                            </tr>
                            {% if layer.type == "raster" %}
                                <tr>
                                    <td><b>Dimensions</b>:&nbsp;</td>
                                    <td>{{ layer.resolutionX }} x {{ layer.resolutionY }} точек</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td><b>Bounding Box</b>:&nbsp;</td>
                                <td>{ {{ layer.boundingBoxMinX }}, {{ layer.boundingBoxMinY }}, {{ layer.boundingBoxMaxX }}, {{ layer.boundingBoxMaxY }} }</td>
                            </tr>
                        </table>
                    </div>
                    <h3>Used in compositions</h3>
                    <div style="height:270px">
                        <div style="height:100%;width:100%;overflow-y:auto">
                            {% if layer.compositions != null %}
                                {% for composition in layer.compositions %}
                                    <img src="{{ asset('./img/icons/composition.png') }}" />&nbsp;<a href="{{ path('showcomposition', {'id': composition.id}) }}">{{ composition.name }}</a><br/>
                                {% endfor %}
                            {% else %}
                                No composition uses this layer.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="messagewindow" title="Adding to favorites"></div>
            <div id="targetcatalogselector" title="Choose a catalog">
                <div id="targettree" style="width:100%;height:300px;"></div>
                <div id="targetnodeid" style="display:none"></div>
                <div id="targetnodetype" style="display:none"></div>
                <div id="selectednodeid" style="display:none"></div>
                <div id="selectednode" style="height:20px;width:100%;float:bottom;padding-top:5px;border-top:1px solid #ccc"></div>
            </div>
            <script type="text/javascript">
                $( "#infowindow" ).dialog({ autoOpen: false, resizable: false, zIndex: 9999, height: 500, width: 600, modal: false, buttons: { OK : function(){ $(this).dialog("close"); } }});
                $( "#accordion" ).accordion({ heightStyle: "content" });
                $( "#messagewindow" ).dialog({ autoOpen: false, resizable: false, zIndex: 9999, height: 'auto', width: 400, modal: false, buttons: { OK : function(){ $(this).dialog("close"); } }});
                $( "#targetcatalogselector" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    zIndex: 9999,
                    height: 'auto',
                    width: 550,
                    modal: false,
                    buttons: [
                        { text: "OK", click: function(){ sendAddToFavoritesRequest(null); $(this).dialog("close"); } },
                        { text: "Cancel", click: function(){ buffer = null; $(this).dialog("close"); } }]
                    });
            </script>
        {% endblock %}

        {% block footer %}
                {{ parent() }}
        {% endblock %}
    </body>
</html>
