{% block header %}
    
    <div class="headerpanelmain">
        
        <div class="logobox">
                <div class="logo">O-GIS</div>
        </div>
        
        <div class="linkbox">
            <a href="{{ path('homepage') }}">
                <div class="linkitembox">
                    <div class="linkitem">Home</div>
                </div>
            </a>
            <a href="{{ path('compositioneditor') }}">
                <div class="linkitembox">
                    <div class="linkitem">Editor</div>
                </div>
            </a>
            <a href="{{ path('layerlist', {sortby: 'modified', page: 1}) }}">
                <div class="linkitembox">
                    <div class="linkitem">Layers</div>
                </div>
            </a>
            <a href="{{ path('userlist') }}">
                <div class="linkitembox">
                    <div class="linkitem">O-GIS users</div>
                </div>
            </a>
        </div>
        
        <div class="userbox">
            {% if app.user == true %}
                
                {% set unread_messages = 0 %}
                {% for message in app.user.messagesReceived %}
                    {% if message.read == false %}
                        {% set unread_messages = unread_messages + 1 %}
                    {% endif %}
                {% endfor %}
                
                <b>{{ app.user.username }}</b> :: <a href="{{ path('showuser', {'id' : app.user.id}) }}">Profile</a> |
                <a href="{{ path('usermessages') }}">Messagebox</a> {% if unread_messages > 0 %}<b>&nbsp;({{unread_messages}})</b>{% endif %} |
                {% if app.user.roles[0] == "ROLE_ADMIN" or app.user.roles[0] == "ROLE_SUPER_ADMIN" or app.user.roles[0] == "ROLE_SYSTEM" %}
                    <a href="{{ path('adminhome') }}" target="_blank">Admin panel</a> |
                {% endif %}
                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('login') }}">Login</a> | <a href="{{ path('fos_user_registration_register') }}">Sign up</a>
            {% endif %}
        </div>
                
    </div>

{% endblock %}

{% block footer %}
    <table width="100%">
        <tr>
            <td width="33%"></td>
            <td width="34%">
                <center>(c) O-GIS team, 2014 - {{ "now"|date('Y') }}</center>
            </td>
            <td></td>
        </tr>
    </table>
{% endblock %}
